@charset "utf-8";
/* CSS Document */
@import url(https://use.typekit.net/efj7gzu.css);

body {
	background-color: #1e345d;
	font-family: adobe-garamond-pro;
	margin-left: 50px;
	margin-right: 50px;
	
}

h1 {
	color: white;
	text-align: center;
	text-shadow: 5px 5px 12px black;
	margin-bottom: 75px;
	font-family: trajan-pro-3;
}

h2 {
	color: #a2863d;
	text-align: center;
	}

p {
	text-align: center;
	color: white;
	
}

img {
	width: 400px;
	
	}

.img1 {
	float: right;
	padding: 15px;
	width: 500px;
	padding-left: 30px;
}

.img2 {
	padding: 15px;
	width: 500px;
	padding-left: 30px;
	flex: 50%;
	
	}


.img3 {
	padding: 15px;
	width: 500px;
	padding-left: 30px;
	flex: 50%;
		
}

.images {
	display: flex;
}



.p1 {
	padding-bottom: 20px;
	
}

.p2 {
	padding-bottom: 60px;
	text-align: center;
}

.p3 {
	text-align: center;
	padding-bottom: 20px;
}


.p4 {
	padding-bottom: 20px;
}

